force-app/main/default/flows/Calculator_And_Convertor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Call</name>
        <label>Apex Call</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Math</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>result1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>a</name>
            <value>
                <elementReference>First_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b</name>
            <value>
                <elementReference>Second_Number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Math</nameSegment>
        <outputParameters>
            <assignToReference>add</assignToReference>
            <name>add1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>Mult</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Calculator And Convertor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculator And Convertor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Calculator</name>
        <label>Calculator</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apex_Call</targetReference>
        </connector>
        <fields>
            <name>First_Number</name>
            <dataType>Number</dataType>
            <fieldText>First Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Second_Number</name>
            <dataType>Number</dataType>
            <fieldText>Second Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>result1</name>
        <label>result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_result</name>
            <fieldText>&lt;p&gt;Multiply Result : {!Result}&lt;/p&gt;&lt;p&gt;Add Result :{!add}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculator</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>add</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
