force-app/main/default/flows/ChatGPTIntegrationBodyComesFromAnotherFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChatGPTAction</name>
        <label>ChatGPTCallout</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>ChatGPTCallout.ChatGPTMethod</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>isStatus200</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ChatGPTBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChatGPTCallout.ChatGPTMethod</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assigment</name>
        <label>assignAnswerMessage</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChatGPTAction.2XX.choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignChatGBTvalue</name>
        <label>assignQuestionToChatGBT</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ChatGPTBody.model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gpt-3.5-turbo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chatGPTMessages.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatGPTMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chatGPTMessages.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatGPTBody.messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>chatGPTMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChatGPTAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageToOutput</name>
        <label>MessageToOutput</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>MessageChatGPTOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.message.content</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isStatus200</name>
        <label>isStatus200?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>errormessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatGPTAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailBodyforChatGPT</name>
        <dataType>String</dataType>
        <expression>&apos;Modify Only Body:&apos; +{!ChatGPTMessage}</expression>
    </formulas>
    <interviewLabel>ChatGPTIntegrationBodyComesFromAnotherFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatGPTIntegrationBodyComesFromAnotherFlow</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>message1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MessageToOutput</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>errormessage</name>
        <label>errormessage</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorscreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: rgb(221, 14, 52); font-size: 18px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;{!ChatGPTAction}ERROR &lt;/span&gt;&lt;span style=&quot;color: rgb(221, 14, 52); font-size: 18px;&quot;&gt;OCCURED IN INTEGRATION PLEASE ASK ADMIN FOR THE ERROR !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The error message :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!ChatGPTAction.defaultExc}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignChatGBTvalue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatGPTBody</name>
        <apexClass>ExternalService__ChatGPTCallout_ChatGPTMethod_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatGPTMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chatGPTMessages</name>
        <apexClass>ExternalService__ChatGPTCallout_ChatGPTMethod_IN_body_messages</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message1</name>
        <apexClass>ExternalService__ChatGPTCallout_ChatGPTMethod_OUT_2XX_choices</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageChatGPTOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
