force-app/main/default/flows/ConvertCurrency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callApexClass</name>
        <label>callApexClass</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>apiLayer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Convert_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>frm</name>
            <value>
                <elementReference>From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to</name>
            <value>
                <elementReference>To</elementReference>
            </value>
        </inputParameters>
        <nameSegment>apiLayer</nameSegment>
        <outputParameters>
            <assignToReference>Rate</assignToReference>
            <name>Rate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ConvertCurrency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvertCurrency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Convert_Currency</name>
        <label>Convert Currency</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>callApexClass</targetReference>
        </connector>
        <fields>
            <name>From</name>
            <dataType>String</dataType>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To</name>
            <dataType>String</dataType>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Convert_Result</name>
        <label>Show Convert Result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>show_Result</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Exchange Rate : &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Rate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Amount} {!From} = {!Result} {!To}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Currency</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
</Flow>
