force-app/main/default/flows/createSelectedContactsInOtherAppWithFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postViaFlow</name>
        <label>postViaFlow</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <actionName>postSelectedCallout.postInvocableAction</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>haNhCVKTofz4hASwXTu3MTBreIBYG1946aquWCSaaYofmPiSSmImOneqLrIwNiOW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>allContactBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>postSelectedCallout.postInvocableAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignToCustomerBody</name>
        <label>assignToCustomerBody</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>customerBody.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAllContacts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerBody.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAllContacts.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerBody.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>male</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerBody.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAllContacts.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerBody.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerBody.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAllContacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allContactBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customerBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAllContacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>createSelectedContactsInOtherAppWithFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createSelectedContactsInOtherAppWithFlow</label>
    <loops>
        <name>loopAllContacts</name>
        <label>loopAllContacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>getSelectedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignToCustomerBody</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>postViaFlow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSelectedContacts</name>
        <label>getSelectedContacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAllContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSelectedContacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allContactBody</name>
        <apexClass>ExternalService__postSelectedCallout_postInvocableAction_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allContactsToCustomerCreate</name>
        <apexClass>ExternalService__postSelectedCallout_postInvocableAction_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactsVariableTosentOut</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>customerBody</name>
        <apexClass>ExternalService__postSelectedCallout_postInvocableAction_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
