force-app/main/default/flows/create_opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>pickliststage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>datevalidate</name>
        <dataType>Boolean</dataType>
        <expression>{!Close_Date}&lt;TODAY()</expression>
    </formulas>
    <interviewLabel>create opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>screen_opp</name>
        <label>screen opp</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_opp</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter date in the future date !&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Close_Date}&gt;TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>pickliststage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_opp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordopp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
