force-app/main/default/flows/CreateTaskForMissingFieldsOfContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignMissingFieldName</name>
        <label>assignMissingFieldName</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>missigFieldName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>whichFieldMissing1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMissingFieldName1</name>
        <label>assignMissingFieldName</label>
        <locationX>248</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>missigFieldName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_whichFieldMissing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMissingFieldName2</name>
        <label>assignMissingFieldName</label>
        <locationX>248</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>missigFieldName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mobile Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>whichFieldMissing3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMissingFieldName3</name>
        <label>assignMissingFieldName</label>
        <locationX>248</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>missigFieldName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Birthday</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter</name>
        <label>counter</label>
        <locationX>270</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopOfTasks.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countTasks1</name>
        <label>countTasks</label>
        <locationX>380</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>countTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>haveAnyTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_whichFieldMissing</name>
        <label>whichFieldMissing</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>whichFieldMissing3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMissingFieldName2</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>haveAnyTask</name>
        <label>haveAnyTask</label>
        <locationX>380</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>createTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOfTasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>haveTaskWithSameSubject</name>
        <label>haveTaskWithSameSubject</label>
        <locationX>402</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>loopOfTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOfTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Missing Contact Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifNoTask</name>
        <label>ifNoTask</label>
        <locationX>182</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_createTask</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichFieldMissing</name>
        <label>whichFieldMissing</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>whichFieldMissing1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMissingFieldName</targetReference>
            </connector>
            <label>email</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichFieldMissing1</name>
        <label>whichFieldMissing</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_whichFieldMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMissingFieldName1</targetReference>
            </connector>
            <label>phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichFieldMissing3</name>
        <label>whichFieldMissing</label>
        <locationX>380</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>getTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMissingFieldName3</targetReference>
            </connector>
            <label>Birthday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Comment</name>
        <dataType>String</dataType>
        <expression>&apos;The following fields are missing: &apos;+ {!missigFieldName}</expression>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>CreateTaskForMissingFieldsOfContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateTaskForMissingFieldsOfContact</label>
    <loops>
        <name>loopOfTasks</name>
        <label>loopOfTasks</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <collectionReference>getTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>haveTaskWithSameSubject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ifNoTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_createTask</name>
        <label>Copy 1 of createTask</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Missing Contact Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Missing Contact Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getTask</name>
        <label>getTask</label>
        <locationX>380</locationX>
        <locationY>1523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countTasks1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTask</name>
        <label>updateTask</label>
        <locationX>270</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>loopOfTasks</targetReference>
        </connector>
        <inputReference>loopOfTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>whichFieldMissing</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>missigFieldName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
