force-app/main/default/flows/HttpCallout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TestCallout</name>
        <label>TestCallout</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>HttpPTSCallout.calloutHttp</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>loopCallout</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>haNhCVKTofz4hASwXTu3MTBreIBYG1946aquWCSaaYofmPiSSmImOneqLrIwNiOW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <stringValue>56</stringValue>
            </value>
        </inputParameters>
        <nameSegment>HttpPTSCallout.calloutHttp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignContact</name>
        <label>assignContact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>con.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCallout.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>con.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCallout.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>con.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCallout.phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>con.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCallout.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>con</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCallout</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HttpCallout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HttpCallout</label>
    <loops>
        <name>loopCallout</name>
        <label>loopCallout</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>TestCallout.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContacts</name>
        <label>createContacts</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <inputReference>ContactsCreate</inputReference>
    </recordCreates>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayCustemer</name>
            <fieldText>&lt;p&gt;{!TestCallout.2XX}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TestCallout</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
