force-app/main/default/flows/HttpPostAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postCustomer</name>
        <label>postCustomer</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>PostCallout.PostHttpCallout</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>haNhCVKTofz4hASwXTu3MTBreIBYG1946aquWCSaaYofmPiSSmImOneqLrIwNiOW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ActionBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PostCallout.PostHttpCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignBody</name>
        <label>assignBody</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ActionBody.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>postCustomer</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HttpPostAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HttpPostAction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignBody</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionBody</name>
        <apexClass>ExternalService__PostCallout_PostHttpCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
