force-app/main/default/flows/MessageSentToChatGPT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>askToChatGPT</name>
        <label>askToChatGPT?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toogle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChatGPTCalls</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>askChatGPTToModifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;Modify Only Body:&apos; +{!Message_To_ChatGPT}</expression>
    </formulas>
    <interviewLabel>MessageSentToChatGPT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MessageSentToChatGPT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ChatGPTResponse</name>
        <label>ChatGPTResponse</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResponseChatGPT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(241, 10, 10);&quot;&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ChatGPT&apos;s Response&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResponseMessageFromChatGPT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>messagescreen</name>
        <label>messagescreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>askToChatGPT</targetReference>
        </connector>
        <fields>
            <name>screendisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;If you want ChatGPT to modify email body, Please input your Email Body into the below box, &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 5, 5); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Click Toogle it to Yes &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;and click &lt;/span&gt;&lt;span style=&quot;color: rgb(250, 11, 11); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;&quot;Send&quot;&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt; button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_To_ChatGPT</name>
            <fieldText>Message To ChatGPT</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>toogle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want ChatGPT to modify text ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>messagescreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ChatGPTCalls</name>
        <label>ChatGPTCalls</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>ChatGPTResponse</targetReference>
        </connector>
        <flowName>ChatGPTIntegrationBodyComesFromAnotherFlow</flowName>
        <inputAssignments>
            <name>ChatGPTMessage</name>
            <value>
                <elementReference>askChatGPTToModifyBody</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ResponseMessageFromChatGPT</assignToReference>
            <name>MessageChatGPTOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ResponseMessageFromChatGPT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
