force-app/main/default/flows/new_contact_based_on_rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_level_for_hot</name>
        <label>assign level for hot</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newcontact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_other_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_other_value</name>
        <label>assign other value</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>newcontact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hakkı</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newcontact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_level_for_hot</name>
        <label>assign level for warm</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newcontact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_other_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_assign_level_for_hot</name>
        <label>assign level for cold</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newcontact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tertiary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_other_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_of_status</name>
        <label>decision of status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>assign_other_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_level_for_hot</targetReference>
            </connector>
            <label>primary</label>
        </rules>
        <rules>
            <name>secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_level_for_hot</targetReference>
            </connector>
            <label>secondary</label>
        </rules>
        <rules>
            <name>tertiary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_assign_level_for_hot</targetReference>
            </connector>
            <label>tertiary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>new contact based on rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new contact based on rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <inputReference>newcontact</inputReference>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_of_status</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>newcontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
