force-app/main/default/flows/Quiz_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Correct_Answer_Assigment</name>
        <label>Correct Answer Assigment</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>totalCorrectQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Succes_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>how_many_questions</name>
        <label>how many questions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>questionnumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>question_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>question_index_Assing</name>
        <label>question index++</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>questionindex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OptionA</name>
        <choiceText>{!question_loop.Option_A__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>question_loop.Option_A__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionB</name>
        <choiceText>{!question_loop.Option_B__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>question_loop.Option_B__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionC</name>
        <choiceText>{!question_loop.Option_C__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>question_loop.Option_C__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionD</name>
        <choiceText>{!question_loop.Option_D__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>question_loop.Option_D__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Succes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifNot</defaultConnectorLabel>
        <rules>
            <name>ifCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_loop.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OptionValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Answer_Assigment</targetReference>
            </connector>
            <label>ifCorrect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quiz Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz Flow</label>
    <loops>
        <name>question_loop</name>
        <label>question loop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>get_questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>question_index_Assing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quiz_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_questions</name>
        <label>get questions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>how_many_questions</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Succes_Screen</name>
        <label>Copy 1 of Succes Screen</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>question_loop</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_display_Correct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 20, 13); font-size: 24px;&quot;&gt;InCorrect !&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(4, 4, 237); font-size: 22px;&quot;&gt;Score: {!TotalScore}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(4, 4, 237); font-size: 22px;&quot;&gt;Question: {!question_loop.Question__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(4, 4, 237); font-size: 22px;&quot;&gt;Correct Answer: {!question_loop.Correct__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(4, 4, 237); font-size: 22px;&quot;&gt;Your Answer: {!OptionValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_screen</name>
        <label>Question screen</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <fields>
            <name>Questionindex1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question {!questionindex}/{!questionnumber} :&lt;/strong&gt; &lt;span style=&quot;color: rgb(237, 7, 7);&quot;&gt;{!question_loop.Question__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptionValue</name>
            <choiceReferences>OptionA</choiceReferences>
            <choiceReferences>OptionB</choiceReferences>
            <choiceReferences>OptionC</choiceReferences>
            <choiceReferences>OptionD</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Result</name>
        <label>Quiz Result</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayresult</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;User:&lt;/strong&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Score:&lt;/strong&gt; {!TotalScore}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Correct Answers:&lt;/strong&gt;{!totalCorrectQuestions}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Succes_Screen</name>
        <label>Succes Screen</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>question_loop</targetReference>
        </connector>
        <fields>
            <name>display_Correct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(16, 228, 22);&quot;&gt;Correct !&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; color: rgb(231, 5, 5);&quot;&gt;Score: {!TotalScore}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_questions</targetReference>
        </connector>
        <fields>
            <name>Quiz_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This quiz is evaluating your knowledge about  object limits.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Quiz Name: Object Limits&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Time : No&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;each point carries 10.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;good luck !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>questionindex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>questionnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalCorrectQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
