force-app/main/default/flows/sentBirhtdayEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>allemailAddreses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Happy Birhday !</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignEmails1</name>
        <label>assignEmails</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>allemailAddreses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopForEachContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForEachContact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>decideTodayisBirthday</name>
        <dataType>Boolean</dataType>
        <expression>(DAY({!loopForEachContact.Birthdate})=DAY(TODAY()))&amp;&amp;(MONTH({!loopForEachContact.Birthdate})=MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>sentBirhtdayEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sentBirhtdayEmail</label>
    <loops>
        <name>loopForEachContact</name>
        <label>loopForEachContact</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getAllRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEmails1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllRecords</name>
        <label>getAllRecords</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopForEachContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isBirhtday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-14</startDate>
            <startTime>06:42:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allemailAddreses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
