force-app/main/default/flows/test_MS_picklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callApex</name>
        <label>callApex</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <actionName>MultiselectSpliter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionloop1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>loop_teacher.Multi_Select_Field__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiselectSpliter</nameSegment>
        <outputParameters>
            <assignToReference>MSList</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignTeachers</name>
        <label>assignTeachers</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IdofTeacher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_teacher.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchedTeachers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_teacher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_teacher</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionLoop</name>
        <label>decisionLoop</label>
        <locationX>396</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>noScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMS_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MS_input</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_loop</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionloop1</name>
        <label>decisionloop</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>loop_teacher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MS_input</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTeachers</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>jsencod</name>
        <dataType>String</dataType>
        <expression>&apos;+MS_input+&apos;</expression>
    </formulas>
    <formulas>
        <name>MSFormula</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <interviewLabel>test MS picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test MS picklist</label>
    <loops>
        <name>loop_teacher</name>
        <label>loop teacher</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>getMS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>callApex</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screnResult</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopMS_Field</name>
        <label>loopMS Field</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <collectionReference>MSList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionLoop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getMS</name>
        <label>getMS</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_teacher</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Teacher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>noScreen</name>
        <label>noScreen</label>
        <locationX>528</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopMS_Field</targetReference>
        </connector>
        <fields>
            <name>noInput</name>
            <fieldText>&lt;p&gt;There is no input&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_loop</name>
        <label>screen loop</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopMS_Field</targetReference>
        </connector>
        <fields>
            <name>loopOk</name>
            <fieldText>&lt;p&gt;Yes it is ok&lt;/p&gt;&lt;p&gt;{!loopMS_Field}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screnResult</name>
        <label>screnResult</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopMS_Field</targetReference>
        </connector>
        <fields>
            <name>MsApex</name>
            <fieldText>&lt;p&gt;MS picklist&lt;/p&gt;&lt;p&gt;{!MSList}&lt;/p&gt;&lt;p&gt;id of teachers&lt;/p&gt;&lt;p&gt;{!IdofTeacher}&lt;/p&gt;&lt;p&gt;{!matchedTeachers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tset_screen</name>
        <label>Tset screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMS</targetReference>
        </connector>
        <fields>
            <name>MS_input</name>
            <dataType>String</dataType>
            <fieldText>MS input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tset_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IdofTeacher</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matchedTeachers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Teacher__c</objectType>
    </variables>
    <variables>
        <name>MSList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
