force-app/main/default/flows/updateCloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>isSaturdayorSunday</name>
        <label>isSaturdayorSunday</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>weekday</defaultConnectorLabel>
        <rules>
            <name>Saturday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decisonforweekend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCloseDate</targetReference>
            </connector>
            <label>Saturday</label>
        </rules>
        <rules>
            <name>Sunday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decisonforweekend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCloseDate1</targetReference>
            </connector>
            <label>Sunday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>decisonforweekend</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Record.CloseDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updateCloseDateToMonday1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+2</expression>
    </formulas>
    <formulas>
        <name>updateCloseDateToMonday2</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+1</expression>
    </formulas>
    <interviewLabel>updateCloseDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateCloseDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateCloseDate</name>
        <label>updateCloseDate</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>updateCloseDateToMonday1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCloseDate1</name>
        <label>updateCloseDate</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>updateCloseDateToMonday2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isSaturdayorSunday</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
