force-app/main/default/flows/updateAllLeadsRating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_new_collection</name>
        <label>add to new collection</label>
        <locationX>396</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>updatedLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_all_leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_all_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assig_rating</name>
        <label>assig rating</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>loop_for_all_leads.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_new_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assig_rating_No</name>
        <label>assig rating No</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>loop_for_all_leads.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_new_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>haveEmail</name>
        <label>haveEmail</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assig_rating_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_all_leads.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assig_rating</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>updateAllLeadsRating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateAllLeadsRating</label>
    <loops>
        <name>loop_for_all_leads</name>
        <label>loop for all leads</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>haveEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_leads</name>
        <label>get leads</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_all_leads</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateLead</name>
        <label>updateLead</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>updatedLeads</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>updatedLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
